.container {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.card {
  width: 20%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: flex-start;
  text-align: center;
  box-shadow: 0px 0px 10px #999;
  padding: 44px 14px;
  border-bottom: 8px solid #fbbb00;
  position: relative;
  font-size: 1.6rem;
}

.card .option {
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
}

.card .option svg {
  width: 30px;
}

.card img {
  width: 80%;
  display: block;
  border-radius: 50%;
}

.card h2,
.card h3 {
  font-size: 1.5rem;
  width: 80%;
  font-weight: 500;
}

.card hr {
  width: 100%;
}

.card .actual,
.card .finished {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 6px 0;
}

.card .actual strong,
.card .actual span,
.card .finished strong,
.card .finished span {
  display: block;
}

.products {
  width: 79%;
}

.products .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.products article {
  background-color: #eee;
  color: #777;
  text-align: center;
  border-radius: 3px;
  padding: 14px 7px;
}

.products article p,
.products article div,
.products article h3,
.products article h2,
.products article strong {
  line-height: 1.7;
  margin: 10px 0;
}

.products article strong {
  display: block;
}
@media (max-width: 1199.98px) {
  .products .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 4px;
  }
  .card {
    padding: 38px 4px;
  }
}
